<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>servlet.Controller</servlet-class>
        <init-param>
            <param-name>admin</param-name>
            <param-value>sousController.Admin</param-value>
        </init-param>
        <init-param>
            <param-name>cuisine</param-name>
            <param-value>sousController.Cuisine</param-value>
        </init-param>
        <init-param>
            <param-name>carte</param-name>
            <param-value>sousController.Carte</param-value>
        </init-param>
        <init-param>
            <param-name>serveur</param-name>
            <param-value>sousController.VersVoirCommande</param-value>
        </init-param>
        <init-param>
            <param-name>panier</param-name>
            <param-value>sousController.Panier</param-value>
        </init-param>
        <init-param>
            <param-name>connexion</param-name>
            <param-value>sousController.VersConnexion</param-value>
        </init-param>
        <init-param>
            <param-name>log</param-name>
            <param-value>sousController.Log</param-value>
        </init-param>
        <init-param>
            <param-name>server</param-name>
            <param-value>sousController.Server</param-value>
        </init-param>
        <init-param>
            <param-name>client</param-name>
            <param-value>sousController.Client</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>beanEssaie</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>inputBDD.beanEssaieLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanEssaie</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanEssaie1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>inputBDD.beanEssaieLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanEssaie</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanEssaie2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>inputBDD.beanEssaieLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanEssaie</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanCuisine</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanCuisineLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanCuisine</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanPanier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanPanierLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanPanier</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanConnexion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanConnexionLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanConnexion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanLog</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanLogLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanLog</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanLog1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanLogLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanLog</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanServeur</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanServeurLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanServeur</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanClient</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanClientLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanClient</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>beanServeur1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>beanMetier.beanServeurLocal</local>
        <ejb-link>bahia_beach-ejb.jar#beanServeur</ejb-link>
    </ejb-local-ref>
</web-app>
