.nav {
    background: #fff;
    height: 70px;
    border-bottom: 1px solid #eee;
    box-shadow: 1px 2px 5px #ededed;
}

.nav a {
    line-height: 70px;
    color: #555;
    text-decoration: none;
    padding: 15px;
    
    margin-right: 10px; 
    
}

.nav a:hover {
    border-bottom: 2px solid #2196F3;
}

body {
    background: #f9f9f9;
}

.nombre {
    background: #67b168;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
}